body {
  font-size: 20px;
  line-height: 160%;
  background: linear-gradient(100deg, #1200ff, #ff9400);
  color: #222;
  font-family: "Overpass", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Chivo", sans-serif; }

.grid {
  display: grid; }
  .grid.grid-columns--two {
    grid-template-columns: 1fr 1fr; }
  .grid.grid-gap-1 {
    grid-gap: 1em; }

.header {
  background: #222; }

.hamburger {
  position: absolute;
  right: 5px;
  top: 5px; }

.nav {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in; }
  .nav.show-menu {
    max-height: 100vh; }
  .nav li {
    position: relative;
    border-top: 1px solid rgba(18, 0, 255, 0.2); }
    .nav li a {
      font-size: .9em;
      color: #222; }
      .nav li a:visited, .nav li a:hover, .nav li a:focus
      .nav li a:visited:hover, .nav li a:visited:focus, .nav li a:link, .nav li a:visited:link {
        color: #222; }
      .nav li a:hover {
        background: #d0ccff; }
    .nav li.menu-item-has-children .fa {
      position: absolute;
      z-index: 100;
      cursor: pointer;
      right: 10px;
      top: 12px;
      font-size: 1.5em;
      color: #222; }
    .nav li.menu-item-has-children ul {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .4s ease-in; }
      .nav li.menu-item-has-children ul.show-submenu {
        max-height: 100vh; }
      .nav li.menu-item-has-children ul ul li a {
        padding-left: 40px; }

@media all and (min-width: 768px) {
  .hamburger {
    display: none; }

  .nav {
    max-height: none;
    overflow: visible;
    transition: none; }
    .nav:before {
      display: none; }
    .nav i {
      display: none; }
    .nav li {
      position: relative; }
      .nav li a:hover {
        text-decoration: none; }
      .nav li.current-menu-item > a, .nav li.current-menu-ancestor > a {
        color: #FFF;
        background: #1200ff; }

  #menu-main {
    display: flex;
    flex-direction: row;
    justify-content: center; } }
.header {
  background: #FFF; }

#inner-header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.site-header {
  display: block; }
  .site-header img {
    height: 130px;
    width: 130px; }

.site-subheader {
  font-family: "Great Vibes", serif;
  font-size: 2.5em;
  margin: 0 0 .5em 0;
  text-align: center; }

.hamburger-label {
  margin: 0;
  font-size: .6em; }

nav {
  width: 100%;
  text-align: center; }

main article {
  background: #FFF;
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-bottom: 1.5em; }

h1 {
  margin: 0 0 .5em 0;
  font-size: 1.5em; }
  @media all and (min-width: 768px) {
    h1 {
      font-size: 2.5em; } }

.entry-content {
  padding: 1rem; }
  @media all and (min-width: 768px) {
    .entry-content {
      padding: 1.5rem; } }
  .entry-content.sidebar {
    padding-right: 1em !important; }
    @media all and (min-width: 768px) {
      .entry-content.sidebar {
        padding: 1.5em !important; } }
  .entry-content img {
    border-radius: 4px; }
  .entry-content .intro {
    font-weight: 600;
    font-size: 1.3em; }

.article-footer {
  display: none; }

.sidebar {
  background: #FFF;
  margin: 0;
  border-radius: 4px;
  margin-bottom: 1.5em; }

.widget {
  padding: 0;
  margin: 0; }

.searchform .screen-reader-text {
  height: auto;
  width: auto;
  position: relative !important;
  clip-path: none; }
.searchform input {
  box-sizing: border-box;
  max-width: none;
  background: #d0ccff; }
.searchform button {
  width: 100%;
  background: #ff9400;
  border-radius: 4px;
  border: none;
  padding: .3em;
  line-height: 150%; }
  .searchform button:hover {
    background: #e68500; }

body.woocommerce .entry-title {
  padding: 1.5rem;
  padding-bottom: 0; }
body.woocommerce .byline {
  display: none; }
body.woocommerce .product_meta {
  display: none; }
body.woocommerce .woocommerce-ordering {
  display: none; }
body.woocommerce .woocommerce-loop-product__title {
  color: #1200ff; }
body.woocommerce .add_to_cart_button {
  background: #ff9400; }
  body.woocommerce .add_to_cart_button:hover, body.woocommerce .add_to_cart_button:focus {
    background: #e68500; }

/*# sourceMappingURL=ontrend.css.map */
