// colors
$white: #FFF;
$primary: #222;

$color-one: #1200ff;
$color-two: #ff9400;

$gradient: linear-gradient(100deg, $color-one, $color-two);

// fonts
$font-heading: 'Chivo', sans-serif;
$font-body: 'Overpass', sans-serif;

// settings
body {
  font-size: 20px;
  line-height: 120%;
  background: $gradient;
  color: $primary;
}































