body.woocommerce {

  .entry-title {
    padding: 1.5rem;
    padding-bottom: 0;
  }

  .byline {
    display: none;
  }

  .product_meta {
    display: none;
  }

  // sorting on shop page
  .woocommerce-ordering {
    display: none;
  }

  .woocommerce-loop-product__title {
    color: $color-one;
  }

  // columns
  .products {
    display: flex;
    flex-direction: row;

    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .add_to_cart_button {
    background: $color-two;

    &:hover,
    &:focus {
      background: darken($color-two, 5%);
    }
  }
}

.woocommerce-page {

  .cart_item .product-name a,
  ul.cart_list li a,
  ul.product_list_widget li a {
    color: $color-one;
    text-decoration: none;
    line-height: 120%;
  }
}